.login-pg-container{
    width: 100vw;
    height: 100vh;
    background-color: #F4F5F7;
    background: linear-gradient(90deg,  #EAE8F3 60%, #F4F5F7 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.auth-box{
    width: 70%;
    height: auto;
    border: 10px solid #ae90e91c;
    border-radius: 1em;
    display: inline-block;
}
.form-side{
    background-color: white;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    margin-left: 1em;
    /* width: 70%; */
    padding-left: 4em;
    padding-right: 4em;
}
.login-info{
    font-size: .75em;
    color: var(--jet);
}
.auth-input{
    margin-top: -0.8em;
    border-radius: 0.4em;
    border: 2px solid #ae90e91c;
}
*:focus {
    outline: none;
}
input[type="checkbox"] {
    display: inline-block;
    vertical-align: bottom;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
  }
input[type="submit"]{
    margin-top: 0em;
    background-color: #AE90E9;
    color: white;
}
.bottom-info{
    font-size: .8em;
    color: var(--jet);
    text-align: center;
}
.login-link{
    color: #AE90E9;
    font-weight: 700;
}
.login-link:hover{
    cursor: pointer;
}
