.swiper-container {
  height: 50vh;
  width: 100%;
}
.slide-1 {
  background: linear-gradient(to right, #ffffffec, #e5de9cba),
    url("../assets/slide1.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 130%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4rem;
}
.platforms-slide1 {
  font-size: 1.5rem;
  width: 10%;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
  color: rgb(153, 153, 153);
}
.slide-2 {
  background: linear-gradient(
      45deg,
      rgba(239, 245, 244, 0.9360119047619048) 0%,
      rgba(0, 255, 231, 0.5018382352941176) 100%
    ),
    url("../assets/slide2.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 130%;
  overflow: hidden;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100% !important;
}
.slide-2 h2 {
  padding-left: 4rem;
}
.slide-2 button {
  margin-left: 4rem;
  border: 0px;
  box-shadow: 2px 2px 8px #5d5d5e;
  border-radius: 500px;
  padding: 10px 30px 10px;
  font-size: 0.8rem;
}
.slide-3 {
  background: linear-gradient(to right, #ffffff9d, #cacac81c),
    url("../assets/slide3.jpg") no-repeat;
  background-size: 100% 130%;
  overflow: hidden;
  font-size: 1.5rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
