.main-container{
    width: 85vw;
    height: 86vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #FAFAFA;
    overflow-y: auto;
    overflow-x: hidden;
}
.main-hover{
}
.main-hover:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.song-hover:hover{
    transform: scale(1.01);
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    background-color: #FAFAFA;
}